@use '../../../node_modules/@oscarpalmer/oui/src/css/reset.scss';
@use '../../../node_modules/@oscarpalmer/oui/src/css/a11y.scss';
@use '../../../node_modules/@oscarpalmer/oui/src/css/badge.scss';
@use '../../../node_modules/@oscarpalmer/oui/src/css/button.scss';
@use '../../../node_modules/@oscarpalmer/oui/src/css/color.scss';
@use '../../../node_modules/@oscarpalmer/oui/src/css/content.scss';
@use '../../../node_modules/@oscarpalmer/oui/src/css/flex.scss';
@use '../../../node_modules/@oscarpalmer/oui/src/css/form.scss';
@use '../../../node_modules/@oscarpalmer/oui/src/css/popover.scss';

body {
	display: flex;
	flex-flow: column nowrap;
	background-color: #fdfdfd;
}

code,
pre {
	font-size: 0.875rem;
}

hr {
	border-color: #ddd;
}

svg {
	width: 1em;
}

.header,
.footer,
.main {
	padding: 1rem;
}

.header {
	border-bottom: 1px solid #ddd;

	&__navigation {
		min-height: 2rem;
	}
}

.footer {
	border-top: 1px solid #ddd;
	font-size: 0.875rem;
	font-style: italic;
}

.breadcrumbs {
	padding: .5rem 1rem;
	border-bottom: 1px solid #ddd;
	font-size: .75rem;
}

.breadcrumbs,
.main {
	background-color: #f7f7f7;
}

.shiki {
	padding: 1rem;
	border-radius: 0.25rem;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.0625);
}

.details {
	position: relative;

	&__link {
		font-size: 0.75rem;
		position: absolute;
		top: 0;
		right: 0;
	}
}

.search {
	&__content {
		padding: 0;
	}

	&__form {
		padding: 1rem;
	}

	&__results {
		&__message {
			margin: 1rem;
		}

		&__list {
			min-width: min(16rem, 10vw);
			max-width: max(48rem, 50vw);
			max-height: max(48rem, 50vh);
			overflow: auto;

			&__item {
				padding: 1rem;
				border-bottom: 1px solid #ddd;

				&:last-child {
					border-bottom: none;
				}
			}
		}
	}
}

.version {
	font-size: 0.75rem;
	font-weight: normal;
	font-variant-numeric: tabular-nums;
}
