<!doctype html>
<html lang="en" dir="ltr">
  <head>
    {% include './partials/head.liquid' %}
  </head>
  <body>
    {% include './partials/header.liquid' %}
    <main class="fill stack main" role="main">{{ content }}</main>
    {% include './partials/footer.liquid' %}
  </body>
</html>
