---
layout: default
---

<h1>Packages</h1>

{% for pkg in generated.packages.all %}
	<article class="oui-card stack stack--text">
		<h2><a href="{{ pkg.name.slug }}">{{ pkg.json.name }}</a></h2>
		<p>{{ pkg.json.description }}</p>
		<span class="flex-as--fs oui-tag version">{{ pkg.json.version }}</span>
	</article>
{% endfor %}
