---
pagination:
  data: generated.packages.single
  size: 1
  alias: paginated
layout: default
permalink: /{{ paginated.name.slug }}/index.html
---
{% assign pkg = generated[paginated.name.original] %}

<h1>{{ paginated.json.name }}</h1>

{% for type in generated.items.types %}
  {% assign label = type.plural | capitalize %}
  {% render 'details.liquid', items: pkg[type.plural].array, label: label %}
{% endfor %}
