<header class="stack stack-small header" role="banner">
  <p><b>{{ meta.title }}</b><p>
  <p>{{ meta.description }}</p>
	<nav class="flow flex-jc--sb" role="navigation">
		{% render 'breadcrumbs.liquid', breadcrumbs: breadcrumbs %}
		<div id="search"></div>
	</nav>
</header>
